<div class="container my-5 col-6">
	<h1>The Slack Clone</h1>
	<form method="POST" action="/users/login" class="form-signin">
		<h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
		<%- include("partials/messages") %>
		<div class="form-group">
			<label for="email">Email address</label>
			<input
				type="email"
				name="email"
				class="form-control"
				id="email"
				aria-describedby="emailHelp"
				placeholder="Enter email"
				autofocus
				value="grodan@info.se"
			/>
			<small id="emailHelp" class="form-text text-muted"
				>We'll never share your email with anyone else.</small
			>
		</div>
		<div class="form-group">
			<label for="password">Password</label>
			<input
				type="password"
				name="password"
				class="form-control"
				id="password"
				placeholder="Password"
				value="grodorgrodor"
			/>
		</div>
		<br>
		<button type="submit" class="btn btn-dark">Login</button>
	</form>
	<br />
	<p><a href="/users/register">No account? Get one!</a></p>
</div>
