<div id="welcome-container">
	<div class="slack">
		<img class="img-fluid" src="/public/images/the_slack_clone.001.jpeg" alt="slack" />
	</div>

	<div class="slack" id="login-register">
		<a class="btn btn-dark m-2" href="/users/register">Register</a>
		<a class="btn btn-light" href="/users/login">Login</a>
	</div>
</div>
