<div class="container my-5 text-center">
	<h1>The Slack Clone</h1>
	<hr />
	<h5>Create an account or login if you already have one!</h5>
	<p><a href="/users/login">Login</a></p>
	<p><a href="/users/register">Register</a></p>
	<img
		class="img-fluid"
		src="https://media.giphy.com/media/l0amJzVHIAfl7jMDos/giphy.gif"
		alt="Excited man"
	/>
</div>
