<div id="mainboard" class="col-8 border-white border-top">
	<h3 id="mainheader">Welcome</h3>
	<p id="descriptionheader" class="text-secondary">Add/navigate to a room</p>
	<%- include("room") %>
</div>
