<nav class="navbar navbar-light bg-dark">
	<div class="container-fluid text-white">
		<h3 id="slack-icon">the slack clone</h3>
		<div
			class="btn btn-outline-secondary"
			data-bs-toggle="modal"
			data-bs-target="#profileModal"
		>
			<img class="avatar" src="<%= user.profilePic %>" alt="avatar" /> <%=
			user.name %>
		</div>
		<form class="d-flex" method="GET" action="/users/logout">
			<button
				type="submit"
				class="btn btn-outline-secondary me-2 btn-sm"
				type="button"
			>
				Logout
			</button>
		</form>
	</div>
</nav>
<div
	class="modal fade text-dark"
	id="profileModal"
	tabindex="-1"
	aria-labelledby="profileModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="profileModalLabel">Edit Profile</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form
					action="/edit-profile"
					method="POST"
					enctype="multipart/form-data"
					id="channel_form"
				>
					<label for="user_name">Name: </label>
					<input
						type="text"
						id="user_name"
						name="user_name"
						value="<%= user.name %> "
					/>
					<br />
					<label for="user_email">Email: </label>
					<input
						type="text"
						id="user_email"
						name="user_email"
						value="<%= user.email %>"
					/>
					<hr />
					<label class="form-label" for="profile_pic">Profile Picture: </label>
					<input
						class="form-control"
						type="file"
						name="profile_pic"
						id="profile_pic"
					/>
					<hr />
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Close
					</button>
					<input class="btn btn-primary" type="submit" value="Update" />
				</form>
			</div>
			<!-- <div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
					Close
				</button>
				<button type="submit" class="btn btn-primary">
					Update
				</button>
			</div> -->
		</div>
	</div>
</div>
