<nav class="navbar navbar-light bg-dark">
	<div class="container-fluid text-white">
		<h3 id="slack-icon">the slack clone</h3>
		<p class="border border-secondary p-2">User: <%= user.name %></p>
		<form class="d-flex" method="GET" action="/users/logout">
			<button
				type="submit"
				class="btn btn-outline-secondary me-2 btn-sm"
				type="button"
			>
				Logout
			</button>
		</form>
	</div>
</nav>
