<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container-fluid">
		<a class="navbar-brand" href="/dashboard">Home</a>
		<p class="text-white">User: <%= user.name %> </p>
		<a class="btn btn-outline-secondary" href="/users/logout">Logout</a>
	</div>
</nav>
