<nav class="navbar navbar-expand-lg">
	<div class="container-fluid">
		<a class="nav-link navbar-brand" href="/dashboard">Home</a>
		<a id="userDiv" class="p-2 divBlock" href="/dashboard">
			<img class="mini-avatar" src="<%= user.profilePic %>" alt="Users profile picture"> <%= user.name %>
		</a>
		<a class="btn btn-outline-secondary" href="/users/logout">Logout</a>
	</div>
</nav>
