<div id="room" class="d-none row row-cols-1">
	<div class="col border-white border-bottom"></div>
	<div class="col">
		<div id="channel_messages" class="row row-cols-1">
		</div>
	</div>
	<div class="col border-white border-top">
		<div>
			<div class="form-floating mt-2">
				<textarea
					class="form-control bg-dark text-white"
					placeholder="Message"
					id="channel_message"
					name="channel_message"
					style="height: 100px"
				></textarea>
				<label for="channel_message">Message</label>
			</div>
			<button onclick="createMessage()" type="button" class="btn btn-light">Send</button>
		</div>
	</div>
</div>
