<div class="col-2 border-white border-end border-top">
	<h5>Channels</h5>
	<div class="row" id="channel_list"></div>
	<button
		type="button"
		class="btn btn-outline-secondary"
		data-bs-toggle="modal"
		data-bs-target="#addChannelModal"
	>
	Add Channel
	</button>
	<hr />
	<h5>Private</h5>
	<div class="row" id="private_list"></div>
	<button
		type="button"
		class="btn btn-outline-secondary"
		data-bs-toggle="modal"
		data-bs-target="#addPrivateModal"
	>
	Create Chat
	</button>
</div>


<div
	class="modal fade text-dark"
	id="addChannelModal"
	tabindex="-1"
	aria-labelledby="addChannelModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addChannelModalLabel">Add Channel</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="channel_form">
					<label for="channel_name">Name: </label>
					<input type="text" id="channel_name" />
					<br />
					<label for="channel_description">Description: </label>
					<input type="text" id="channel_description" />
					<hr />
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Close
					</button>
					<button
						type="submit"
						class="btn btn-dark"
					>
						Create
					</button>
				</form>
			</div>
		</div>
	</div>
</div>


<div
	class="modal fade text-dark"
	id="addPrivateModal"
	tabindex="-1"
	aria-labelledby="addPrivateModalLabel"
	aria-hidden="true"
>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="addPrivateModalLabel">Create Chat</h5>
				<button
					type="button"
					class="btn-close"
					data-bs-dismiss="modal"
					aria-label="Close"
				></button>
			</div>
			<div class="modal-body">
				<form id="private_form">
					<label for="users">Choose a user to chat with:</label>
					<select name="users" id="users">
						<% users.forEach(userObj => { %>
							<% if (userObj.name != user.name) { %>
								<option value="<%= userObj._id %>" id="<%= userObj._id %>"><%= userObj.name %></option>
							<% } %>
						<% }) %>
					</select>
					<hr />
					<button
						type="button"
						class="btn btn-secondary"
						data-bs-dismiss="modal"
					>
						Close
					</button>
					<button type="submit" class="btn btn-dark">Create</button>
				</form>
			</div>
		</div>
	</div>
</div>
