@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* rgb(203, 41, 123); */

html,
body {
	background-color: rgb(245, 236, 242);
	font-family: "Lato", sans-serif;
	height: 100%;
}

#slack-icon {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 900;
	color: rgb(203, 41, 123);
}

.full-height {
	height: 100%;
}

.italic {
	font-style: italic;
}

#welcome-container {
	width: 100%;
	height: 100%;
	position: relative;
}
.slack {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#login-register {
	z-index: 10;
	margin-top: 2%;
	margin-left: 2%;
}

.avatar {
	width: 200px;
	height: 200px;
	object-fit: cover;
}